<div class="menu">
    <button class="create-btn" (click)="goToNewAppointment()">
        <svg class="create-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path fill="currentcolor" d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z"/></svg>
        <div class="create-btn-text bold-txt">New appointment</div>
    </button>
    <div class="sort-filter">
        <div class="sort">

            <div class="sort-text bold-txt">Sort by</div>
            <div class="select-container">
                <select #sorting (change)="sortingChange(sorting.value)" class="minimal" id="sort-dropdown">
                    <option value="farthest">Farthest Away</option>
                    <option value="oldest">Oldest</option>
                </select>
            </div>
        </div>
        <div  class="filter" (click)="goToFilterAppointments()">
            <div class="filter-text bold-txt">Filter</div>
            <svg class="filter-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L161-745q-14-17-4-36t31-19h584q21 0 31 19t-4 36L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-276 240-304H240l240 304Zm0 0Z"/></svg>
        </div>
    </div>
</div>
<div class="active-filters">
  <div class="active-filters-text">
    Active filters: {{getActiveFilters()}}
  </div>
  <svg *ngIf="getActiveFilters()>0" (click)="resetFilters()" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" ><path fill="currentcolor" d="m249-183-66-66 231-231-231-231 66-66 231 231 231-231 66 66-231 231 231 231-66 66-231-231-231 231Z"/></svg>
</div>

