<div class="menu">
    <button class="create-btn">
        <svg class="create-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path fill="currentcolor" d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z"/></svg>
        <div class="create-btn-text bold-txt">New appointment</div>
    </button>
    <div class="sort-filter">
        <div class="sort">
            <div class="sort-text bold-txt">Sort by</div>
            <select class="minimal" id="sort-dropdown">
                <option value="relevancy">Relevancy</option>
                <option value="increasing">Oldest to Latest</option>
                <option value="decreasing">Latest to Oldest</option>
            </select>
            <label for="sort-dropdown" class="select-label">
                <svg class="select-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M480-345 240-585l43-43 197 198 197-197 43 43-240 239Z"/></svg>
            </label>
        </div>
        <div  class="filter">
            <div class="filter-text bold-txt">Filter</div>
            <svg class="filter-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L161-745q-14-17-4-36t31-19h584q21 0 31 19t-4 36L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-276 240-304H240l240 304Zm0 0Z"/></svg>

        </div>
    </div>
</div>
