<div class="container">
  <div class="top">
    <div class="title">Filter appointments</div>
    <div class="info">(Select what kind of appointments you wish to see)</div>
  </div>
  <form ngForm #appointmentForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="section" ngModelGroup="species">
      <div class="subform-label">Doctors</div>
    <div class="existing-field">
      <div class="select-container">
        <select required [(ngModel)]="filter.doctor" name="doctor" id="doctor">
          <option value="any">Any</option>
          <ng-container *ngFor="let doctor of existingDoctors">
            <option value="{{doctor}}">{{doctor | titlecase }}
          </ng-container>
        </select>
      </div>
    </div>
    </div>

    <div class="section" ngModelGroup="species">
      <div class="subform-label">Species</div>
      <div class="subform" >
        <div class="checkboxes">
          <div class="checkbox">
            <input type="checkbox" name="dog" id="dog" value="dog" [(ngModel)]="filter.species.dog">
            <label for="dog">Dog</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="cat" id="cat" value="cat" [(ngModel)]="filter.species.cat">
            <label for="cat">Cat</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="rodent" id="rodent" value="rodent" [(ngModel)]="filter.species.rodent">
            <label for="rodent">Rodent</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="bird" id="bird" value="bird" [(ngModel)]="filter.species.bird">
            <label for="bird">Bird</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="fish" id="fish" value="fish" [(ngModel)]="filter.species.fish">
            <label for="fish">Fish</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="other" id="other" value="other" [(ngModel)]="filter.species.other">
            <label for="other">Other</label>
          </div>
        </div>
      </div>
    </div>

    <div class="section" ngModelGroup="date">
      <div class="subform-label">Date</div>
      <div class="subform" >
        <div class="checkboxes">
          <div class="checkbox">
            <input type="checkbox" name="today" id="today" value="today" [(ngModel)]="filter.date.today">
            <label for="today">Today</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="upcoming" id="upcoming" value="upcoming" [(ngModel)]="filter.date.upcoming">
            <label for="upcoming">Upcoming</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="past" id="past" value="past" [(ngModel)]="filter.date.past">
            <label for="past">Past</label>
          </div>
        </div>
      </div>
    </div>

    <div class="section" ngModelGroup="status">
      <div class="subform-label">Status</div>
      <div class="subform" >
        <div class="checkboxes">
          <div class="checkbox">
            <input type="checkbox" name="created" id="created" value="created" [(ngModel)]="filter.status.created">
            <label for="created">Created</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="confirmed" id="confirmed" value="confirmed" [(ngModel)]="filter.status.confirmed">
            <label for="confirmed">Confirmed</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="closed" id="closed" value="closed" [(ngModel)]="filter.status.closed">
            <label for="closed">Closed</label>
          </div>
        </div>
      </div>
    </div>




    <div class="buttons" id="filter-buttons">
      <div class="buttons-2">
        <button class="cancel-btn" (click)="goToAppointments()">Cancel</button>
        <button type="submit" class="submit-btn" [disabled]="!appointmentForm.valid" [class.disabled-btn]="!appointmentForm.form.valid">Apply</button>
      </div>
      <button class="reset" (click)="resetFilter()">Reset Filter</button>
    </div>
  </form>
</div>
