.container {
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back-btn {
    margin-right: auto;
    font-size: calc(var(--secondary-font-size) - 3px);
    font-family: outfit-semibold;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.top {
    display: flex;
    width: min(100%, 550px);
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.title {
    color: var(--teal);
    font-family: outfit-bold, sans-serif;
    font-size: var(--large-font-size);
    width: min(100%, 500px);
}

form {
    font-size: var(--secondary-font-size);
    width: min(100%, 550px);
    font-family: outfit-medium, sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.subform {
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    width: 100%;
    padding-left: 15px;
    border-radius: var(--border-radius);
}
.subform-label {
    font-size: var(--default-font-size);
    color: var(--black);
    border-bottom: 2px solid var(--gray);
    font-family: outfit-semibold, sans-serif;
}
#species {
    width: 100%;
}
label {
    color: var(--dark-gray);
    margin-bottom: 7px;
    display: inline-block;

}
input[type="text"], input[type="number"] {
    width: 100%;
}
.radios-control {
    display: flex;
    justify-content: space-between;
}
.radio-btn {
    width: 48%;
    height: 3rem;
    display: flex;
    align-items: center;
    border: 2px solid var(--gray);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}
.radio-btn label {
    margin-bottom: 0;
    color: var(--black);
}
.selected-radio {
    border-color: var(--teal);
    color: var(--teal);
    background-color: rgba(20, 184, 166, 0.07);
}
.selected-radio label {
    color: var(--teal);
}
input[type="radio"] {
    margin-right: 8px;
}
.time-section {
    display: flex;
    column-gap: 1rem;
}

.month-field, .date-field, .hour-field, .minutes-field {
    width: 50%;
}
.buttons {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
}
.buttons button {
    width: 50%;
    padding: 5px 5px;
    font-family: outfit-semibold;
    color: white;
    font-size: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 3rem;
    border: 0;
}
.cancel-btn {
    background-color: var(--dark-gray);
}
.cancel-btn:hover {
    background-color: var(--hover-dark-gray);
}
.submit-btn {
    background-color: var(--teal);
}
.submit-btn:hover {
    background-color: var(--light-teal);
}
button:hover {
    cursor: pointer;
}
.disabled-btn {
    background-color: var(--gray);


}
.disabled-btn:hover {
    background-color: var(--gray);
    cursor: default;
}
/* FORM STUFF */
form .ng-invalid {
    border-left: 4px solid var(--yellow);
}
form .ng-invalid:focus {
    border-color: var(--teal);
}
form .ng-valid:not(input[type="radio"]){
    border-left: 4px solid var(--teal);
}