.container {
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back-btn {
    margin-right: auto;
    font-size: calc(var(--secondary-font-size) - 3px);
    font-family: outfit-semibold, sans-serif;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.top {
    display: flex;
    width: min(100%, 600px);
    margin-bottom: 3rem;
    margin-top: 2rem;
    flex-direction: column;

}
.title {
    color: var(--black);
    font-family: outfit-bold, sans-serif;
    font-size: var(--large-font-size);

}

form {
    font-size: var(--secondary-font-size);
    width: min(100%, 600px);
    font-family: outfit-medium, sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
}
.info {
    color: var(--dark-gray);
    font-size: var(--secondary-font-size);
}
.subform {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    width: 100%;


}
.section {
    padding-left: 15px;
    padding-right: 19px;
}
.subform-label {
    font-size: var(--default-font-size);
    color: var(--black);
    border-bottom: 2px solid var(--gray);
    font-family: outfit-semibold, sans-serif;
    margin-bottom: 1rem;
}
#species {
    width: 100%;
}
label, .previous-label {
    color: var(--dark-gray);
    margin-bottom: 7px;
    display: inline-block;

}
input[type="text"], input[type="number"] {
    width: 100%;
}
.radios-control {
    display: flex;
    justify-content: space-between;
}
.radio-btn {
    width: 48%;
    height: 3rem;
    display: flex;
    align-items: center;
    border: 2px solid var(--gray);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}
.radio-btn label {
    margin-bottom: 0;
    color: var(--black);
    cursor: pointer;
    display: block;
  width: 70%;
}
.selected-radio {
    border-color: var(--teal);
    color: var(--teal);
    background-color: rgba(20, 184, 166, 0.07);
}
.disabled-radio {
  background-color: rgba(128, 128, 128, 0.07);
}
.disabled-radio label {
  color: var(--gray);
}
.selected-radio label {
    color: var(--teal);
}
input[type="radio"] {
    margin-right: 8px;
}
.time-section {
    display: flex;
    column-gap: 1rem;
}

.month-field, .date-field, .hour-field, .minutes-field {
    width: 50%;
}
.buttons {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    justify-content: center;

}
.buttons button {
    width: 50%;
    padding: 10px 5px 10px 5px;
    font-family: outfit-semibold, sans-serif;
    color: white;
    font-size: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 3rem;
    border: 0;
}
.cancel-btn {
    background-color: var(--dark-gray);
}
.cancel-btn:hover {
    background-color: var(--hover-dark-gray);
}
.submit-btn {
    background-color: var(--teal);
}
.submit-btn:hover {
    background-color: var(--light-teal);
}
button:hover {
    cursor: pointer;
}
button.submit-btn.disabled-btn {
  background-color: var(--teal);
  opacity: 0.4;
  color: var(--extra-light-teal);
}
.disabled-btn:hover {
    opacity: 0.4;
  background-color: var(--teal);
    cursor: default;
}
/* FORM STUFF */
form .ng-invalid {
    border-left: 4px solid var(--red);
}
form .ng-invalid:focus {
    border-color: var(--red);
}
form .ng-valid:not(input[type="radio"], input[type="checkbox"]){
    border-left: 4px solid var(--teal);
}


.prev-appointment {
    display: flex;
    border-radius: var(--border-radius);
    padding: 4px 8px 4px 8px;
    align-items: flex-start;
    column-gap: 15px;
}
.prev-info {
    display: flex;
    column-gap: 5px;
    flex-direction: column;
    width: 100%;
}
@media(min-width: 768px) {
    .prev-info {
        flex-direction: row;
    }
}
.prev-text {
    color: var(--dark-gray);
}
.prev-index {
    width: 2rem;
}
.select-existing {
    padding: 4px 0px 4px 0px;
}
.year-field, .minutes-field, .hour-field, .date-field {
    position: relative;
}
.error {
    font-family: outfit-light;
    color: var(--red);
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 14px;
}
.hide {
    display: none;
}
