<div class="container">
    <div class="top">
        <div class="title">New Appointment</div>
    </div>
    <form ngForm #appointmentForm="ngForm">
        <div class="subform" ngModelGroup="general">
            <div class="subform-label">General info</div>
        <div class="doctor-field">
            <label for="doctor">Doctor</label>
            <input placeholder="Doctor name" type="text" name="doctor" id="doctor" required [(ngModel)]="newAppointment.doctor">
        </div>

        </div>

        <div class="subform" ngModelGroup="animal">
            <div class="subform-label">Animal info</div>
            <div class="radios-control">
                <div class="radio-btn" [class.selected-radio]="existsOrNew==='exists'">
                    <input type="radio" name="existsOrNew" id="exists" [(ngModel)]="existsOrNew" value="exists">
                    <label for="exists">Existing Animal</label>
                </div>
                <div class="radio-btn" [class.selected-radio]="existsOrNew==='new'">
                    <input type="radio" name="existsOrNew" id="new" [(ngModel)]="existsOrNew" value="new">
                    <label for="new">New Animal</label>
                </div>
            </div>
        <ng-container *ngIf="existsOrNew==='new'">
            <div class="species-field">
                <label for="species">Species</label>
                <div class="select-container">
                    <select required [(ngModel)]="newAppointment.species" name="species" id="species">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="rodent">Rodent</option>
                        <option value="bird">Bird</option>
                        <option value="fish">Fish</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="breed-field">
                <label for="breed">Breed</label>
                <input required placeholder="Animal breed" type="text" name="breed" id="breed" [(ngModel)]="newAppointment.breed">
            </div>
            <div class="name-field">
                <label for="name">Name</label>
                <input required placeholder="Animal name" type="text" name="name" id="name" [(ngModel)]="newAppointment.name">
            </div>
        </ng-container>
        <ng-container *ngIf="existsOrNew==='exists'">
            <div class="existing-field">
                <label for="existing">Existing animal</label>
                <div class="select-container">
                    <select required [(ngModel)]="newAppointment.species" name="existing" id="existing">
                        <option value="dog">Cerasela, Cat, Crossbreed</option>
                    </select>
                </div>
            </div>
        </ng-container>
        </div>

        <div class="subform" ngModelGroup="date">
            <div class="subform-label">Date info</div>
        <div class="year-field">
            <label for="year">Year</label>
            <input required type="number" name="year" id="year" [(ngModel)]="appointmentYear">
        </div>
            <div class="time-section">
            <div class="month-field">
                <label for="month">Month</label>
                <div class="select-container">
                    <select required [(ngModel)]="appointmentMonth" name="month" id="month">
                        <option value="0">Jan</option>
                    </select>
                </div>
            </div>
            <div class="date-field">
                <label for="date">Date</label>
                <input required type="number" name="date" id="date" [(ngModel)]="appointmentDate">
            </div>
            </div>
            <div class="time-section">
            <div class="hour-field">
                <label for="hour">Hour</label>
                <input required type="number" name="hour" id="hour" [(ngModel)]="appointmentHour">
            </div>
            <div class="minutes-field">
                <label for="minutes">Minutes</label>
                <input required type="number" name="minutes" id="minutes" [(ngModel)]="appointmentMinutes">
            </div>
            </div>
        </div>
        <div class="buttons">
            <button class="cancel-btn" (click)="goToAppointments()">Cancel</button>
            <button type="submit" class="submit-btn" [class.disabled-btn]="!appointmentForm.form.valid">Create</button>
        </div>

    </form>
    <div>{{newAppointment | json}}</div>
    <div>{{existsOrNew}}</div>
</div>
