<div class="container">
  <div class="top">
    <div class="title">Edit appointment</div>
    <div class="info">(All fields are required unless specified optional)</div>
  </div>
  <form ngForm #appointmentForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="section" ngModelGroup="animal">
      <div class="subform-label">Animal info</div>
      <div class="subform">
        <div class="name-field">
          <label for="name">Name</label>
          <input required placeholder="Animal name" type="text" name="name" id="name" [(ngModel)]="appointment.name"
                 [disabled]="isConfirmed()">
        </div>
        <div class="species-field">
          <label for="species">Species</label>
          <div class="select-container">
            <select required [(ngModel)]="appointment.species" name="species" id="species" [disabled]="isConfirmed()">
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="rodent">Rodent</option>
              <option value="bird">Bird</option>
              <option value="fish">Fish</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="breed-field">
          <label for="breed">Breed</label>
          <input required placeholder="Animal breed" type="text" name="breed" id="breed" [(ngModel)]="appointment.breed"
                 [disabled]="isConfirmed()">
        </div>
      </div>
    </div>

    <div class="section" ngModelGroup="general">
      <div class="subform-label">General info</div>
      <div class="subform">

        <div class="doctor-field">
          <label for="doctor">Doctor</label>
          <input placeholder="Doctor name" type="text" name="doctor" id="doctor" required
                 [(ngModel)]="appointment.doctor" [disabled]="isConfirmed()">
        </div>

        <div class="diagnostic-field">
          <label for="diagnostic">Diagnostic<span class="optional">(Optional)</span></label>
          <textarea [disabled]="isClosed()" placeholder="Add diagnostic here" id=diagnostic rows="10" name="diagnostic"
                    [(ngModel)]="appointment.diagnostic"></textarea>
        </div>
      </div>
    </div>

    <div class="section" ngModelGroup="date">
      <div class="subform-label">Date info</div>
      <div class="subform">

        <div class="year-field">
          <label for="year">Year</label>
          <div class="select-container">
            <select #year required (change)="resetMonth(); resetDate();" [(ngModel)]="appointmentYear" name="year"
                    id="year" [disabled]="isConfirmed()">
              <option value="{{currentYear}}">{{currentYear}}</option>
              <option value="{{currentYear+1}}">{{currentYear + 1}}</option>
              <option value="{{currentYear+2}}">{{currentYear + 2}}</option>
              <option value="{{currentYear+3}}">{{currentYear + 3}}</option>
              <option value="{{currentYear+4}}">{{currentYear + 5}}</option>
            </select>
          </div>
        </div>
        <div class="time-section">
          <div class="month-field">
            <label for="month">Month</label>
            <div class="select-container">
              <select #month required [(ngModel)]="appointmentMonth" name="month" id="month" [disabled]="isConfirmed()">
                <option [disabled]="disabledMonth(0)" value="0">January</option>
                <option [disabled]="disabledMonth(1)" value="1">February</option>
                <option [disabled]="disabledMonth(2)" value="2">March</option>
                <option [disabled]="disabledMonth(3)" value="3">April</option>
                <option [disabled]="disabledMonth(4)" value="4">May</option>
                <option [disabled]="disabledMonth(5)" value="5">June</option>
                <option [disabled]="disabledMonth(6)" value="6">July</option>
                <option [disabled]="disabledMonth(7)" value="7">August</option>
                <option [disabled]="disabledMonth(8)" value="8">September</option>
                <option [disabled]="disabledMonth(9)" value="9">November</option>
                <option [disabled]="disabledMonth(10)" value="10">October</option>
                <option [disabled]="disabledMonth(11)" value="11">December</option>
              </select>
            </div>
          </div>
          <div class="date-field">
            <label for="date">Date</label>
            <input #date="ngModel" [min]="getSmallestDate(appointmentYear, appointmentMonth)"
                   [max]="getDaysInMonth(appointmentYear, appointmentMonth)" required type="number" name="date"
                   id="date" [(ngModel)]="appointmentDate" inputmode="numeric" [disabled]="isConfirmed()">
            <div class="error" *ngIf="date.errors?.['min'] || date.errors?.['max']">Invalid date</div>
          </div>
        </div>
        <div class="time-section">
          <div class="hour-field">
            <label for="hour">Hour</label>
            <input #hour="ngModel" placeholder="23" min="0" max="23" required type="number" name="hour" id="hour"
                   [(ngModel)]="appointmentHour" inputmode="numeric" [disabled]="isConfirmed()">
            <div class="error" *ngIf="hour.errors?.['min'] || hour.errors?.['max']">Invalid hour</div>
          </div>
          <div class="minutes-field">
            <label for="minutes">Minutes</label>
            <input #minutes="ngModel" placeholder="59" min="0" max="59" required type="number" name="minutes"
                   id="minutes" [(ngModel)]="appointmentMinutes" inputmode="numeric" [disabled]="isConfirmed()">
            <div class="error" *ngIf="minutes.errors?.['min'] || minutes.errors?.['max']">Invalid minutes</div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" ngModelGroup="status">
      <div class="subform-label">Status info</div>
      <div class="subform">
        <div class="radios-section">
          <div class="radios-control">
            <div class="radio-btn" [class.selected-radio]="appointment.status==='created'">
              <input type="radio" name="status" id="created" [(ngModel)]="appointment.status" value="created">
              <label for="created">Created</label>
            </div>
            <div class="radio-btn" [class.selected-radio]="appointment.status==='confirmed'">
              <input type="radio" name="status" id="confirmed" [(ngModel)]="appointment.status" value="confirmed">
              <label for="confirmed">Confirmed</label>
            </div>
            <div class="radio-btn" [class.selected-radio]="appointment.status==='closed'"
                 [class.disabled-radio]="hasNoDiagnostic()">
              <input type="radio" name="statusClosed" id="closed" [(ngModel)]="appointment.status" value="closed"
                     [disabled]="hasNoDiagnostic()">
              <label for="closed">Closed</label>
            </div>
          </div>

          <div *ngIf="hasNoDiagnostic()" class="closed-aux">Closed status not available - diagnostic required</div>
        </div>

      </div>
    </div>

    <div class="buttons">
      <button class="cancel-btn" (click)="goToAppointments()">Cancel</button>
      <button type="submit" class="submit-btn" [disabled]="!appointmentForm.valid"
              [class.disabled-btn]="!appointmentForm.form.valid">Save
      </button>
    </div>
  </form>
</div>
