app-header {
    width: 100%;
    position: fixed;
    top: 0px;
}

app-navbar {
    width: 100%;
    position: fixed;
    bottom: 0px;
}
@media(min-width: 768px) {
    app-navbar {
        top: 0px;
    }
}