
.entry {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
}

.entry-data {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  font-size: 14px;
}

.entry-data .text {
  width: 1.5rem;
  color: var(--dark-gray);
  text-align: start;
}

.entry-data .value {
  font-family: outfit-semibold;
  width: 3rem;
  text-align: center;
}

.bar-container {
  width: 70%;
  height: 12px;
}

.bar {
  background-color: rgba(20, 184, 166, 0.66);
  height: 12px;
  border-radius: 2px;
}

.min.bar {
  width: 1% !important;
}
