/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-gray);
}
html * {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    font-size: var(--default-font-size);
    color: var(--black);
    font-family: outfit-regular;
}
:root {
    --default-font-size: 17px;
    --secondary-font-size: 15px;

    --border-radius: 5px;

    --light-gray: rgba(217, 217, 217, 0.6); /* rgba(217, 217, 217, 0.32); */
    --gray: #d7d7d7;
    --dark-gray: #7A7A7A;
    --black: #171717;
    --teal: #14B8A6;
    --light-teal: #1ed2be;
}
@media(min-width: 768px) {
    :root {
        --large-font-size: 25px;
        --default-font-size: 21px;
        --secondary-font: 18px;
    }
}
@font-face {
    font-family: outfit-regular;
    src: url(src/assets/fonts/Outfit-Regular.ttf);
}
@font-face {
    font-family: outfit-bold;
    src: url(src/assets/fonts/Outfit-Bold.ttf);
}
@font-face {
    font-family: outfit-light;
    src: url(src/assets/fonts/Outfit-Light.ttf);
}

app-root {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.bold-txt {
    font-family: outfit-bold;
}
.white-txt {
    color: white;
}
select {
    appearance: none;
    font-size: var(--secondary-font-size);
    background-color: var(--light-gray);
    color: var(--black);
    border: 0px;
    padding: 5px 10px 5px 10px;
    border-radius: var(--border-radius);
}
select:hover {
    cursor: pointer;
}
select:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--teal);
}
.select-svg {
    width: 1.2rem;
}
.select-label:hover {
    cursor: pointer;
}

